.backgroundcolor{
    background-color: ;
}
.mobileshown{
    display: none;
}
.desktop{
    display: none;
}
@media screen and (max-width:540px){
    .toshownonmobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    .mobileshown{
        display: block;
    }
}